.GhBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding: 2rem;
}

.GhText {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.GhTopBox {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 10px double white;
}

.GhTbLogo {
  height: 6.5rem;
}

.GhTbTwoNamesBar {
  margin-left: 1rem;
  width: 100%;
}

.NickName {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  border-bottom: 2px solid white;
  margin: 0;
}

.RealName {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: grey;
  margin: 0;
  padding-bottom: 0.5rem;
}

.GhBarcode {
  height: 2.5rem;
}

.GhRow {
  display: flex;
  align-items: center;
}

.GhrTag {
  padding-bottom: 0.2rem;
  margin-right: 1rem;
  color: grey;
  width: 7rem;
}

.GhrContent {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
}

.GhProfilePic {
  width: 400px;
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  /* filter: grayscale(100%); */
}

/* Media queries */

@media (max-width: 1000px) {
  .NickName {
    font-size: 2rem;
  }
  .RealName {
    font-size: 1.3rem;
  }
  .GhProfilePic {
    display: none;
  }
}

@media (max-width: 550px) {
  .GhBox {
    align-items: unset;
    padding: 1rem;
  }
  .GhTbLogo {
    width: 4rem;
  }
  .NickName {
    font-size: 1.4rem;
  }
  .RealName {
    font-size: 1rem;
  }
  .GhrTag {
    margin-right: 0rem;
  }
}

@media (max-width: 450px) {
  .GhRow {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .GhrContent {
    width: 10rem;
    font-size: 0.9rem;
  }
}
