.main {
  padding-top: 2rem;
  font-family: "Fira Code", monospace;
  /* background-color: green; */
  width: 100%;
  min-height: 100vh;
}

.component {
  margin-bottom: 2rem;
}

.weight100 {
  font-weight: 100;
}

.pmicon:hover {
  background-color: darkgrey;
  color: black;
}

.pmitem:hover {
  background-color: black;
  color: white;
}
